body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .shopping-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .title h3 {
    margin: 0;
    font-size: 28px;
    color: #333;
  }
  
  .button-edit {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .button-edit:focus {
    outline: none;
  }
  
  .one-item {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 15px;
    color: #333;
    width: 100%;
    border-radius: 8px;
    align-items: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .one-item:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .item-name {
    margin: 0;
    font-size: 18px;
  }
  
  .button-resolve,
  .button-detail,
  .button-unresolve,
  .button-add {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
  }
  
  .button-resolve:hover,
  .button-detail:hover,
  .button-unresolve:hover,
  .button-add:hover {
    background-color: #45a049;
  }

  .button-delete {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
  }
  
  .button-delete:hover {
    background-color: #c9302c; 
  }
  
  .add-item {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 700px;
  }
  
  .add-item h3 {
    margin-bottom: 12px;
    font-size: 24px;
    color: #333;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .button-add {
    background-color: #007bff;
    color: white;
    padding: 12px 18px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .button-add:hover {
    background-color: #0056b3;
  }
  
  .modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 35%;
    border-radius: 8px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #333;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button-detail {
    background-color: #008cba;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .button-detail:hover {
    background-color: #0077a4;
  }

  .save-button {
    margin: 10px 0; 
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #0056b3;
}

.button-edit {
    margin: 5px 0; 
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(227, 205, 6);
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-edit:hover {
    background-color: rgb(164, 148, 0);
}
  